<div class="wrapper">
    <div class="recipe-title">
        <h1>TITLE</h1>
        <p>DESCRIPTION</p>
        <p>OTHER INFORMATION</p>
    </div>
    <div class="recipe-image">
    	<img src="https://images.pexels.com/photos/2693448/pexels-photo-2693448.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
    </div>
</div>
