.navbar-lewagon {
  justify-content: space-between;
  background-color: #16302B;
  border-bottom: 1px dotted white;
}

a.nav-link {
  color: white !important;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
